---
name: credits
layout: page
---

# Créditos

Esta colección fue creada por [Sergio Rodríguez Gómez](https://srsergiorodriguez.github.io/).

Basada en la plantilla [Serie Mini](https://github.com/srsergiorodriguez/serie-mini), para la creación de colecciones digitales, creada por [Sergio Rodríguez Gómez](https://srsergiorodriguez.github.io/).

Las imágenes provienen del [Rijksstudio](https://www.rijksmuseum.nl/en), la colección digital del Rijks Museum de Países Bajos. Todas las imágenes usadas están en el dominio público.